@charset "utf-8";
/* html {
    font-size: 62.5%;
} */
/* 기본 CSS */
body {
    font-family: '맑은 고딕', 'HelveticaNeue', 'DroidSans', Sans-serif, Helvetica;
}
/* 지정 너비 적용 클래스 */
.container {
    max-width:1132px;
    margin: 0 auto;
}
/* 각 타이틀 스타일 */
.sec_title {
    font-size: 42px;
    font-size: 2.625rem;
    font-weight: 600;
    color: #1e3932;
}
/* 구분선 스타일 */
.divider {
    max-width: 1132px;
    margin: 0 auto;
    height: 2px;
    background: #eee;
    margin-top: 80px;
}
/* 짧은 구분선 스타일 */
.m_divider {
    width: 20px;
    margin: 0 auto;
    height: 2px;
    background: #1e3932;
    margin-top: 80px;
}

/* 모바일 퍼스트 = 모바일용 공통 스타일 */
/* 1. Header */
.header {
    padding: 18px 5%;
    /* 위치기준값 */
    position: relative;
}
/* Logo */
.header .logo {
    /* 플롯 */
    float: left;
}
/* GNB */
.header .gnb {
    width: 100%;
    background: #1e3932;
    /* 포지션 */
    position: absolute;
    right: 0;
    top: 45%;
    z-index: 9999999;
    /* 스크립트 연동 = 처음 로딩시 안보이도록 코딩 */
    display: none;
}
.header .gnb li {
    border-bottom: 1px solid #666666;
}
.header .gnb li a {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-family: 'Avenir', Arial, georgia;
    padding: 8px 0 8px 5%;
}
.header .gnb li a:hover {
    cursor: pointer;
    color: gray;
    border-bottom: 1px solid gray;
}

/* Hamberger Toggle */
.header .menu_toggle_btn {
    width: 20px;
    margin-top: 4px;
    cursor: pointer;
    /* 플롯 */
    float: right;
}
.header .menu_toggle_btn span {
    display: block;
    width: 100%;
    height: 2px;
    background: #1e3932;
}
.header .menu_toggle_btn span:nth-child(2) {
    margin: 5px 0;
}

/* 2. Slider */
.slider .slider_img {
    max-width: 100%;
    width: 100%; 
}
.slider .slider_img img {
    max-width: 100%;
    width: 100%;
}

/* 3-1. Display */
.display_section {
    margin-top: 60px;
    text-align: center;
}
.display_section .sec_title {
    margin-bottom: 32px;
    padding-bottom: 10px;
}
.display_section .desc {
    color: #616161;
    line-height: 2;
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: 500;
    padding: 0 0 0 30px;
}
.display_section .desc span {
    font-weight: 700;
}

/* 3-2. Promotion */
.promotion_section {
    margin-top: 68px;
}
.promotion_section .promotion_list li {
    margin-top: 48px;
    text-align: center;
}
.promotion_section .promotion_list li:nth-child(1) {
    margin-top: 0;
}
.promotion_section .promotion_list li img {
    width: 200px;
    height: 200px;
}
.promotion_section .promotion_list li h3 {
    margin: 30px 0 20px;
    color: #444444;
    font-weight: 600;
}
.promotion_section .promotion_list li p {
    font-size: 14px;
    font-size: 0.875rem;
    color: #666666;
    line-height: 1.5;
}

/* 3-3. Work */
.work_section {
    margin-top: 80px;
}
.work_section .sec_title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}
.work_section .work_list li {
    width: 100%;
}
.work_section .work_list li a {
    display: block;
    width: 100%;
    height: 100%;
}
.work_section .work_list li img {
    max-width: 100%;
    width: 100%;
}

/* 이미지 정보 효과 */
.work_section .work_list li a {
    /* 위치기준값 */
    position: relative;
}
/* a. 셀로판지 효과 */
.work_section .work_list li a:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #1e3932;
    opacity: 0;
    /* 포지션 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    transition: all 0.3s;
}
/* a-1. 셀로판지 호버시 효과 */
.work_section .work_list li a:hover:before {
    opacity: 0.7;
}

/* 정보 텍스트 CSS */
.work_section .work_list li div h3 {
    font-size: 24px;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 8px;
}
.work_section .work_list li div span {
    font-size: 11px;
    font-size: 0.6875rem;
    color: #fff;
}
.work_section .work_list li div {
    /* 포지션 */
    position: absolute;
    left: 30px;
    top: 0;
    z-index: 200;
    opacity: 0;
    transition: all 0.3s;
}
/* b. 정보 텍스트 이동 효과 */
.work_section .work_list li a:hover div {
    opacity: 1;
    transform: translateY(30px);
}

/* 3-4. Blog */
.blog_section {
    margin-top: 80px;
}
.blog_section .sec_title {
    margin-bottom: 48px;
    text-align: center;
}
.blog_section .blog_list li {
    width: 100%;
    margin-top: 48px;
}
.blog_section .blog_list li:nth-child(1) {
    margin-top: 0;
}
.blog_section .blog_list li img {
    max-width: 100%;
    width: 100%;
}
.blog_section .blog_list li time {
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    color: #9e9e9e;
    margin: 10px 0;
}
.blog_section .blog_list li h3 {
    color: #424242;
    line-height: 1.6;
    font-weight: 700;
}

/* 3-5. Contact */
.contact_section {
    margin-top: 100px;
}
.contact_section .sec_title {
    margin-bottom: 48px;
    text-align: center;
}

input, textarea {
    border-bottom: 1px solid #757575;
    font-size: 12px;
    font-size: 0.75rem;
    color: #1e3932;
    border-radius: 0%;
}
/* Input Form */
.contact_section .form_box .form input {
    padding-bottom: 14px;
    margin-bottom: 40px;
}
/* Textarea Form */
.contact_section .form_box .txta textarea {
    height: 170px;
}
.contact_section .form_box .send_btn {
    margin-top: 36px;
    text-align: right;
}
.contact_section .form_box .send_btn button {
    font-size: 12px;
    font-size: 0.75rem;
    color: #fff;
    background: #1e3932;
    padding: 15px;
    cursor: pointer;
}

/* 4.Footer */
.footer {
    margin-top: 100px;
}
.footer iframe {
    width: 100%;
    height: 320px;
}
.footer p {
    margin: 20px 0;
    color: darkgray;
    text-align: center;
    font-size: 0.75rem;
}


/* 태블릿 미디어 쿼리 768px 이상 */
@media screen and (min-width:768px){

    /* 1. 태블릿 Header */
    .header {
        padding: 18px 5%;
        /* 위치기준값 */
        /* position: relative; */
    }
    /* Logo */
    .header .logo {
        /* 플롯 */
        float: left;
    }
    .header .logo a {
        font-size: 26px;
        font-size: 1.625rem;
        color: #3f51b5;
        letter-spacing: -2px;
        font-weight: 500;
    }
    /* 태블릿 GNB */
    .header .gnb {
        /* GNB 보이도록 코딩 */
        display: block !important;
        /* 모바일 속성값 초기화 */
        width: auto;
        background: none;
        /* 포지션 */
        /* position: static; */
        /* 플롯 */
        float: right;
    }
    .header .gnb li {
        border-bottom: 0;
        /* 플롯 */
        float: left;
        margin-left: 20px;
    }
    .header .gnb li a {
        display: block;
        font-size: 14px;
        font-size: 0.875rem;
        padding: 5px 0 0 0;
    }

    /* Hamberger Toggle */
    .header .menu_toggle_btn {
        width: 20px;
        width: 0.026%;
        margin-top: 4px;
        cursor: pointer;
        /* 플롯 */
        float: right;

        /* 태블릿 추가 */
        display: none;
    }
    .header .menu_toggle_btn span {
        display: block;
        width: 100%;
        height: 2px;
        background: #1e3932;
    }
    .header .menu_toggle_btn span:nth-child(2) {
        margin: 5px 0;
    }

    /* 3-1. 태블릿 Display */
    .display_section {
        /* 속성값 수정 */
        margin-top: 100px;
        text-align: center;
    }
    .display_section .sec_title {
        margin-bottom: 32px;
    }
    .display_section .desc {
        color: #616161;
        line-height: 2;
        padding: 0 0 0 30px;
    }

    /* 3-2. 태블릿 Promotion */
    .promotion_section {
        /* 속성값 수정 */
        margin-top: 110px;
    }
    .promotion_section .promotion_list li {
        /* (768px) */
        width: 177px;
        /* (177/768)*100 = 23.046875 */
        width: 23.046875%;
        margin-left: 20px;
        /* (20/768)*100 = 2.604166666666667 */
        margin-left: 2.604166666666667%;

        /* 플롯 */
        float: left;
        /* 속성값 수정 */
        margin-top: 0;
        text-align: center;
    }
    .promotion_section .promotion_list li:nth-child(1) {
        margin-top: 0;
        /* 속성추가 */
        margin-left: 0;
    }
    .promotion_section .promotion_list li img {
        width: 200px;
        height: 200px;
    }
    .promotion_section .promotion_list li h3 {
        margin: 30px 0 20px;
        color: #444444;
    }
    .promotion_section .promotion_list li p {
        font-size: 14px;
        font-size: 0.875rem;
        color: #616161;
        line-height: 1.5;
    }

    /* 3-3. 태블릿 Work */
    .work_section {
        /* 속성값 수정 */
        margin-top: 100px;
    }
    .work_section .sec_title {
        margin: 0 auto;
        text-align: center;
        /* 속성값 수정 */
        margin-bottom: 80px;
    }
    .work_section .work_list li {
        width: 50%;
        /* 플롯 */
        float: left;
    }
    .work_section .work_list li a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .work_section .work_list li img {
        max-width: 100%;
        width: 100%;
    }

    /* 3-4. 태블릿 Blog */
    .blog_section {
        /* 속성값 수정 */
        margin-top: 124px;
    }
    .blog_section .sec_title {
        margin-bottom: 48px;
        text-align: center;
    }
    .blog_section .blog_list li {
        /* (768px) */
        width: 242.6666666666667px;
        /* (242.6666666666667/768)*100 = 31.597222222222225 */
        width: 31.597222222222225%;
        /* (20/768)*100 = 2.604166666666667 */
        margin-left: 2.604166666666667%;
        /* 플롯 */
        float: left;
        /* 속성값 수정 */
        margin-top: 0;
    }
    .blog_section .blog_list li:nth-child(1) {
        margin-top: 0;
        margin-left: 0;
    }

    .blog_section .blog_list li img {
        max-width: 100%;
        width: 100%;
    }
    .blog_section .blog_list li time {
        display: block;
        font-size: 12px;
        font-size: 0.75rem;
        color: #9e9e9e;
        margin: 10px 0;
    }
    .blog_section .blog_list li h3 {
        color: #424242;
        line-height: 1.6;
    }

    /* 3-5. 태블릿 Contact */
    .contact_section {
        /* 속성값 수정 */
        margin-top: 180px;
    }
    .contact_section .sec_title {
        /* 속성값 수정 */
        margin-bottom: 80px;
        text-align: center;
    }

    input, textarea {
        border-bottom: 1px solid #757575;
        font-size: 12px;
        font-size: 0.75rem;
        color: #1e3932;
        border-radius: 0%;
    }
    /* 2단 구조 */
    .contact_section .form_box .form {
        width: 374px;
        /* (374/768)*100 = 48.69791666666667 */
        width: 48.69791666666667%;
        margin-right: 20px;
        /* (20/768)*100 = 2.604166666666667 */
        margin-right: 2.604166666666667%;
        /* 플롯 */
        float: left;
    }
    .contact_section .form_box .txta {
        width: 374px;
        /* (374/768)*100 = 48.69791666666667 */
        width: 48.69791666666667%;
        /* 플롯 */
        float: right;
    }

    /* Input Form */
    .contact_section .form_box .form input {
        padding-bottom: 14px;
        margin-bottom: 40px;
    }
    /* Textarea Form */
    .contact_section .form_box .txta textarea {
        height: 170px;
    }
    .contact_section .form_box .send_btn {
        margin-top: 36px;
        text-align: right;
    }
    .contact_section .form_box .send_btn button {
        font-size: 12px;
        font-size: 0.75rem;
        color: #fff;
        background: #1e3932;
        padding: 15px;
        cursor: pointer;
    }





}







/* PC 미디어 쿼리 1132px 이상 */
@media screen and (min-width:1132px){
    /* 3-1. PC Display */
    .display_section {
        margin-top: 100px;
        /* 속성값수정 */
        text-align: left;
    }
    .display_section .sec_title {
        /* 속성값수정 */
        margin-bottom: 0;
        /* 플롯 */
        float: left;
    }
    .display_section .desc {
        color: #616161;
        line-height: 2;
        /* 플롯 */
        float: right;
        /* 위치기준 */
        position: relative;
        padding-left: 20px;
    }

    /* 데코 세로 막대 */
    .display_section .desc:before {
        content: "";
        display: block;
        width: 2px;
        height: 44px;
        background: #e0e0e0;
        /* 포지션 */
        position: absolute;
        left: 0;
        top: 10px;
        z-index: 1;
    }

    /* 3-2. PC Promotion */
    .promotion_section {
        margin-top: 110px;
    }
    .promotion_section .promotion_list li {
        /* (1132px) */
        width: 268px;
        /* (268/1132)*100 = 23.674911660777383 */
        width: 23.674911660777383%;
        margin-left: 20px;
        /* (20/1132)*100 = 1.76678445229682 */
        margin-left: 1.76678445229682%;

        /* 플롯 */
        float: left;
        margin-top: 0;
        text-align: center;
    }
    .promotion_section .promotion_list li:nth-child(1) {
        margin-top: 0;
        /* 속성추가 */
        margin-left: 0;
    }
    .promotion_section .promotion_list li img {
        width: 268px;
        height: 220px;
    }
    .promotion_section .promotion_list li h3 {
        margin: 30px 0 20px;
        color: #444444;
    }
    .promotion_section .promotion_list li p {
        font-size: 14px;
        font-size: 0.875rem;
        color: #616161;
        line-height: 1.5;
    }

    /* 3-3. PC Work */
    .work_section {
        margin-top: 100px;
    }
    .work_section .sec_title {
        margin: 0 auto;
        /* 속성값 수정 */
        text-align: left;
        margin-bottom: 80px;
    }
    .work_section .work_list li {
        width: 25%;
        /* 플롯 */
        float: left;
    }
    .work_section .work_list li a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .work_section .work_list li img {
        max-width: 100%;
        width: 100%;
    }

    /* 3-4. PC Blog */
    .blog_section {
        /* 속성값 수정 */
        margin-top: 124px;
    }
    .blog_section .sec_title {
        /* 속성값 수정 */
        margin-bottom: 0;
        text-align: center;
        /* 플롯 */
        float: left;
    }
    .blog_section .blog_list {
        width: 844px;
        /* (844/1132)*100 = 74.55830388692578 */
        width: 74.55830388692578%;
        /* 플롯 */
        float: right;
    }
    .blog_section .blog_list li {
        /* (844px) */
        width: 268px;
        /* (268/844)*100 = 31.753554502369667 */
        width: 31.753554502369667%;
        /* (20/844)*100 = 2.3696682464454977 */
        margin-left: 2.3696682464454977%;
        /* 플롯 */
        float: left;
        /* 속성값 수정 */
        margin-top: 0;
    }
    .blog_section .blog_list li:nth-child(1) {
        margin-top: 0;
        margin-left: 0;
    }

    .blog_section .blog_list li img {
        max-width: 100%;
        width: 100%;
    }
    .blog_section .blog_list li time {
        display: block;
        font-size: 12px;
        font-size: 0.75rem;
        color: #9e9e9e;
        margin: 10px 0;
    }
    .blog_section .blog_list li h3 {
        color: #424242;
        line-height: 1.6;
    }

    /* 3-5. PC Contact */
    .contact_section {
        margin-top: 180px;
    }
    .contact_section .sec_title {
        /* 속성값 수정 */
        margin-bottom: 0;
        text-align: left;
        /* 플롯 */
        float: left;
    }

    input, textarea {
        border-bottom: 1px solid #757575;
        font-size: 12px;
        font-size: 0.75rem;
        color: #1e3932;
        border-radius: 0%;
    }
    .contact_section .form_box {
        width: 844px;
        /* (844/1132)*100 = 74.55830388692578 */
        width: 74.55830388692578%;
        /* 플롯 */
        float: right;
    }
    /* 2단 구조 */
    .contact_section .form_box .form {
        width: 412px;
        /* (412/844)*100 = 48.81516587677725 */
        width: 48.81516587677725%;
        margin-right: 20px;
        /* (20/844)*100 = 2.3696682464454977 */
        margin-right: 2.3696682464454977%;
        /* 플롯 */
        float: left;
    }
    .contact_section .form_box .txta {
        width: 412px;
        /* (412/844)*100 = 48.81516587677725 */
        width: 48.81516587677725%;
        /* 플롯 */
        float: right;
    }

    /* Input Form */
    .contact_section .form_box .form input {
        padding-bottom: 14px;
        margin-bottom: 40px;
    }
    /* Textarea Form */
    .contact_section .form_box .txta textarea {
        height: 170px;
    }
    .contact_section .form_box .send_btn {
        margin-top: 36px;
        text-align: right;
    }
    .contact_section .form_box .send_btn button {
        font-size: 12px;
        font-size: 0.75rem;
        color: #fff;
        background: #1e3932;
        padding: 15px;
        cursor: pointer;
    }




}





